/* Basic sample */

@font-face {
  font-family: 'dorianclm-book-webfont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/dorianclm-book-webfont.woff') format('woff');
}

@font-face {
  font-family: 'dybook';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DYBBRG__.woff') format('woff');
}

body{
	background:#000 url(../images/bg.jpg) repeat center center;
	overflow:hidden;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .flipbook-container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:100%;
	height:100%;
	left:-50%;
	top:-300px;
}

.flipbook-viewport .page{
	width:50%;
	height:100%;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 50px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 50px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 50px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 50px rgba(0,0,0,0.2);
	box-shadow:0 0 50px rgba(0,0,0,0.2);
}


#back_cover {
	background-image:url(../pics/WEDDING-002.jpg)
}


#front_cover {
	background-image:url(../images/album_cover.jpg)
}

#cover_header_pic_wrapper {
	width: 100%;
	height: 40%;
}

#cover_header_pic {
	width: 40%;
	height: 70%;
	margin-left: 27%;
	padding-top: 7.5%;
	transform: rotate(5deg);
}

.fill_img {
	width: 100%;
	height: 100%;
	webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.35);
}

.cover_text {
	height: 42%;
	width: 52%;
	margin-left: 22%;
	margin-top: 4.5%;
}

#fc_title {
	width: 100%;
	font-size:24px;
	text-align: center;
}

#fc_remindme {
	font-size: 14px;
	text-align: right;
	width: 95%;
	margin-top: 2%;
}

#connect {
	width: 100%;
	margin-top: 2%;
}

#connect_txt {
	font-size: 18px; 
	text-align: right; 
	width: 95%;
	 margin-top: 19%;
}

#connect_btn {
	margin-top: 2%; 
	width:50%;
}

#baking {
	width: 100%; 
	margin-top: 14%;
}

#bake_status_words {
	text-align: right; 
	width: 95%;
	font-size: 20px;
}

#bake_progress {
	position: absolute;
	bottom: 12%;
	width: 52%;
}

#progressText {
	width: 71%;
	text-align: center;
	font-size: 20px;
}

.img_page {
	background-color: #f2f5f7;
}

.text_page {
	background-color: #f2f5f7;
}

.img_wrapper {
	height: 71%;
	width: 80%;
	margin-top: 8% !important;
	margin-left: 8% !important;
	transform: rotate(-2deg)
}

.myimg {
	height: 100%;
	width: 100%;
	border-width: 10px 10px 45px;
	border-color: #FFF;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(148,148,148,0.83);
	-moz-box-shadow: 0px 0px 6px 1px rgba(148,148,148,0.83);
	box-shadow: 0px 0px 6px 1px rgba(148,148,148,0.83);
	border-style: solid;
}

.pp_descr {
	font-family: "dybook";
	text-align: center;
	font-size: 14px;
	margin-top: -6%;
}

.phototext{
	font-family: "dybook";
	font-size: 2vw;
	width: 60%;
	display: inline-block;
	margin-top: 20%;
	text-align: center;
	margin-left: 20%;
	padding: 5px;
}

.formal_type {
	font-family: "dorianclm-book-webfont";
	display: inline-block;
	width: 100%
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #000;
	-moz-box-shadow:0 0 20px #000;
	-o-box-shadow:0 0 20px #000;
	-ms-box-shadow:0 0 20px #000;
	box-shadow:0 0 20px #000;
}

#front_img {
	-webkit-box-shadow: 1px -1px 16px 7px rgba(0,0,0,0.65);
	-moz-box-shadow: 1px -1px 16px 7px rgba(0,0,0,0.65);
	box-shadow: 1px -1px 16px 7px rgba(0,0,0,0.65);
}

/*----------------------------
	Bootstrap Progress Bar
-----------------------------*/


.progress {
    height: 30px;
    margin-bottom: 5px;
 }
 
 .progress-bar-striped, .progress-striped .progress-bar {
    padding-top: 4px;
}

.progress {
    height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.progress-bar.active, .progress.active .progress-bar {
    animation: 2s linear 0s normal none infinite running progress-bar-stripes;
}


.progress-bar-striped, .progress-striped .progress-bar {

    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    padding-top: 4px;
}

.progress-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #337AB7;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
    box-sizing: border-box;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}
