<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width = 1050, user-scalable = no" />
	<title>Ronit & Shachar - Save The Date</title>
	<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
	<script type="text/javascript" src="scripts/jquery.min.1.7.js"></script>
	<script type="text/javascript" src="scripts/modernizr.2.5.3.min.js"></script>
</head>
<body style="background-image:url(images/bg.jpg)">

<div class="flipbook-viewport">
	<div class="flipbook-container">
	</div>
</div>

<div id="book_pages" style="display: none;">	
	<div id="front_cover_part">
		<div id="cover_header_pic_wrapper">
			<div id="cover_header_pic">
				<img class="cover_img fill_img" src="pics/mexican-party-us.jpg" />
			</div>
		</div>
		
		<div id="cover_text_login" class="cover_text">
			<div id="explanation_text">
				<div id="fc_title">
					<span class="formal_type">
					ברוכים הבאים לאלבום התמונות
						<br>
					 #%#$% של רונית, שחר ו
						</span>
				</div>
				<div id="fc_remindme">
					<span class="formal_type">
					(??? רק תזכיר/י לי בבקשה מי את/ה)
					</span>
				</div>
			</div>
			<div id="connect">
				<div>
					<div id="connect_txt">
						<span class="formal_type">
								הכנו לך הפתעה קטנה. תאשר אותנו בפייסבוק.
						</span>
					</div>
					<div id="connect_btn">
						<fb:login-button scope="public_profile,user_photos" data-size="xlarge"  onlogin="checkLoginState();" />
					</div>
				</div>
			</div>
		</div>
		
		<div id="cover_text_progress" class="cover_text">
			<div id="explanation_text">
				<div id="fc_title">
					<span class="formal_type">
					ברוכים הבאים לאלבום התמונות
						<br>
					 ...של רונית, שחר ו
					</span>
					<span class="userFirstName">
				 	</span>
				</div>
			</div>
			<div id="baking">
				<div id="bake_status">
					<div id="bake_status_words">
						<span id="bakeStatusSpan" class="formal_type">
						</span>
					</div>
					<div id="bake_progress">
					  <div class="progress">
						 <div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
							<span id="progressText">...מחטט</span>
						 </div>
					  </div>
					</div>					
				</div>
			</div>
		</div>

		<div id="cover_text_done" class="cover_text">
			<div id="explanation_text">
				<div id="fc_title">
					<span class="formal_type">
					ברוכים הבאים לאלבום התמונות
						<br>
					 ...של רונית, שחר ו
					</span>
					<span class="userFirstName">
				 	</span>
				</div>
			</div>
			<div id="coverReadyText">
				<span class="formal_type">יאללה דפדפ/י מפה</span>
			</div>
		</div>
		
		<div class="flipSymbol">
			<img class="fill_img" src="images/flip.png" />
		</div>		
		<div id="bakingStatusTexts">
			<div id="bakingStatuses_1">
				<span>בטוח שאנחנו מכירים?</span>
				<span>נראה לי טעות...</span>
			</div>
			<div id="bakingStatuses_2">
				<span>...אה בטח אנחנו מכירים מהזה.. נו</span>
				<span>?אולי היינו ביחד בחוג קפוארה</span>
				<span>תן לי דקה אני אזכר</span>
				<span>טוב נו בלי לחץ.. עד החתונה זה יעבור</span>
				<span>הגיע הזמן להחליף תמונת פרופיל</span>					
			</div>	
			<div id="bakingStatuses_3">
				<span>..אה נו נזכרתי... בעצם לא</span>
				<span>דקה אני איתך</span>
				<span>טוב נו בלי לחץ.. עד החתונה זה יעבור</span>							
			</div>
			<div id="bakingStatuses_4">
				<span>? איפה את/ה לא רואים אותך</span>
			</div>									
		</div>
	</div>
	
	<div id="scene_part">
		<div id="scene_img_page_part">
			<div class="img_wrapper">
				<img class="myimg" />
				<div class="pp_descr">
					<span></span>
				</div>
			</div>
			<div class="flipSymbol">
				<img class="fill_img" src="images/flip.png" />
			</div>
		</div>
		<div id="scene_text_page_part">
			<span class="phototext"></span>
		</div>
	</div>
	
	<div id="back_cover_part">
	</div>
	
	<div id="scenes_data">
		<div class="scene_data" id="wedding-photobomb1.jpg">
			<span class="scene_text_data">אנחנו מכירים מאות אם לא אלפי שנים</span>	
			<span class="image_desc_data">מהחתונה של דורה. אוגוסט 1954.</span>
		</div>
		<div class="scene_data" id="wedding-photobomb3.jpg">
			<span class="scene_text_data">אז מה לא תבואו לחתונה<br>???</span>	
			<span class="image_desc_data">מהחינה של אביגדור פלדמן. מרץ 2017</span>
		</div>		
	</div>
</div>

<script src="scripts/saveme.js" type="text/javascript"></script>

<script src="scripts/fb.js" type="text/javascript"></script>

<script type="text/javascript">
	rebuildApp({}, 'login')
</script>

</body>
</html>
